<div id="top">
  <div id="main">
  　<%= image_tag asset_path("homeimage.png"), alt: "homeimage", id: "image", class: "image" %>
  </div>
</div>

  <style>
    #top {
      background-color: #FFFFFF;
    }
    #main {
      padding top : 20px ;
    }
    #image {
      height: 500px;
      width: 100%;

    }
    #imagebox {

    }
  </style>