<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'prefsearch' %>
    </div>
    <div class="col-9">
      <%= render 'index',destinations: @destinations %>
    </div>
  </div>
</div>


